@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  input,
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  html,
  body {
    @apply h-full overflow-hidden antialiased bg-background text-text-primary;
  }

  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  #root {
    @apply h-full mx-auto bg-background;
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    body {
      @apply bg-background-secondary;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #root {
      width: 393px;
      height: 852px;
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.16) inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.7) !important;
    caret-color: rgba(255, 255, 255, 0.7) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input:-webkit-autofill::first-line {
    -webkit-text-fill-color: rgba(255, 255, 255, 0.7) !important;
  }
}
